*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Orbitron', sans-serif;
    height: 100vh;
    background: linear-gradient(135deg, #f4d186, #9aa096, #5f872b);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
    color: #fff;
    overflow-x: hidden;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #25c9d5;
    text-shadow: 0 0 10px #794c08;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
  }

  button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    background: rgba(10, 164, 181, 0.1);
    color: #28190c;
    border: 2px solid #f4b784;
    cursor: pointer;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
  }

  button:hover {
    background-color: #1799f681;
    color: #000;
    transform: scale(1.05);
    box-shadow: 0 0 10px #583a04;
  }

  #output {
    width: 80%;
    max-width: 800px;
    min-height: 150px;
    padding: 20px;
    background: rgba(207, 4, 4, 0.05);
    border-radius: 15px;
    color: #171008;
    font-family: monospace;
    font-size: 20px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(255, 102, 0, 0.347);
    border: 1px solid rgba(183, 255, 0, 0.3);
    backdrop-filter: blur(12px);
  }